*{
  margin:0;
  padding:0;
}
.heading {
  font-family: "Sigmar One", sans-serif;
}
.section1{
  background-image: url('./assets/bg.png');
  background-size: cover;
}
.section1-block{
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}
.logo {
  margin:0 auto;
  display: block;
  padding-top:20px;
}
.chadDescMob{
  display: none;
}
.chadText{
  margin:0 auto;
  display: block;
}
.cabox {
  background-color: #000;
  padding: 20px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  color:#fff;
}
.socialBlock {
  max-width: 300px;
  margin: 0 auto;
}
.social {
  margin-top:15px;
  margin-right: 5px;
  margin-left: 5px;
}
.section2 {
  background-color: #000;
}
.section2-block {
  margin: 0px 80px;
  color:#fff;
  display: flex;
}
.s2b-left {
  max-width: 50%;
  padding:80px 0px;
}
.s2b-right {
  max-width: 50%;
}
.boat {
  margin-left:50px;
  margin-top: -20px;
}
.section3 {
  background-image: url('./assets/bg2.png');
  background-size: contain;
  max-height: 604px;
}
.divider {
  padding:302px 0px;
}
.section4{
  background-image: url('./assets/bg3.png');
  text-align: center;
}
.lasth {
  color:#fff;
  padding-top: 100px;
}
.lastdesc {
  color:#fff;
  max-width: 350px;
  margin: 0 auto;
  padding-top:5px;
}
.button {
  border:0;
  border-radius: 5px;
  background-color: #7FFF5C;
  font-family: "Sigmar One", sans-serif;
  font-size: 26px;
  color:#fff;
  padding:10px 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  -webkit-text-stroke: 1px black;
}
.CR{
  color:#818181;
  max-width: 380px;
  margin:0 auto;
  padding-top:20px;
  padding-bottom: 20px;
}
/* ANIMATION */

@keyframes float {
  0% {
    transform: translateY(0px) rotate(5deg);
  }
  50% {
    transform: translateY(-20px) rotate(-5deg);
  }
  100% {
    transform: translateY(0px) rotate(5deg);
  }
}

.boat {
  animation: float 4s ease-in-out infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.chad {
  animation: shake 0.5s ease-in-out infinite;
}

@media only screen and (max-width: 490px) and (max-device-width : 490px) {
  .chadDescMob{
    display: block;
    margin: 0 auto;
  }
  .logo {
    max-width: 120px;
  }
  .chad {
    max-width: 300px;
  }
  .chadDesc {
    display: none;
  }
  .section1-block{
    max-width: 100%;
  }
  .section2-block {
    display: block;
    margin: 0px 20px;
  }
  .s2b-left,.s2b-right {
    max-width: 100%;
  }
  .boat{
    margin-top:-80px;
    margin-bottom: 40px;
    margin-left: 0;
    max-width: 300px;
  }
  .section3 {
    max-height: 200px;
  }
  .heading{
    font-size: 22px;
    max-width: 390px;
    text-align: center;
  }
  .text {
    max-width: 390px;
    text-align: center;
  }
}