*{
  margin:0;
  padding:0;
}
.section1{
  background-image: url('./assets/bg.PNG');
  padding-top: 300px;
  padding-bottom: 300px;
  background-size: contain;
}
.img1 {
  max-width: 600px;
  margin:0 auto;
}